p {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279; }

h1 {
  font-size: 65px;
  color: #2d3033; }



.button {
  background-color: #e84545;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase; 
  padding: 15px 40px;
}
a {
  color: #e84545;
   }

body {
  font-family: sans-serif;
  font-weight: 400;
  color: #6c7279; 

  /*background-color: #292c47;*/


}
ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }


#header {
  position: fixed;
  width: 100%;
  	}
#header .header-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
    max-width: 1170px;
    padding: 40px 0;
    width: 100%;
	}
#header .logo {
    float: left;
     }

.navigation {
  float: right; 
	}
  .navigation li {
    display: inline-block; 
	}
  .navigation a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px;
    font-weight: 700;
    margin-left: 40px;
    text-transform: uppercase; 
	}
.text-center{
	text-align:center
}
.banner-center{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    margin-left:8.3%;
}
.banner {
  background-image: url(../images/back.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  
   }


.banner-text {
  padding-top: 25%;

     }

  .banner-text h1 {
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 42px;


     }
  .banner-text p {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px;
     }

.feature {
  
  display: table-cell;
  margin:0px;
  padding:0px;
  }
  .feature-content {
    padding: 0 15px;
    margin-top: 30px; 
  }
.table1{
	display:table;
	width:800px;
	margin-left: 300px;
   }
.table{
	display:table;
  margin:0;
	padding:0;
   }
.row {
     display:table-row;
     margin:0;
     padding:0;
    
   
}
.cell{
	display: table-cell;

   text-align: center;
   vertical-align:middle;
   margin:0;
   padding:0;	
}


.picture {
  
  width:333px;
  overflow: hidden;
  
  text-align:center;


  }
  /*img {
    vertical-align:middle;
    margin: 0 auto;
  }*/
  .footer {
  text-align: center;
   }
  .footer-top {
    background-color: #3a3e64;
    padding-top: 50px; 
	}
  .footer-bottom {
    background-color: #313454;
    padding: 20px 0; 
	}
  .footer .footer-col {
    margin-bottom: 80px; 
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    display:table-cell;
    width: 33%;
	}
  .footer h5 {
    color: #fff; 
	}
  .footer h5 {
    margin-bottom: 20px; 
	}
  .footer p {
    color: rgba(255, 255, 255, 0.5); 
	}
  .footer a {
    color: #fff; 
	}
.person {
  max-width: 270px;
  margin: 0 auto 50px;
   }
  .person-content {
    margin-top: 20px;
    text-align: center;
     }
  .person h4 {
    font-weight: 400;
    }
  .person h5 {
    color: #e84545;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px; }
.people{
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
  float:left;

}